@{
    ViewData["Title"] = "Home Page";
}

<h2> Home Page </h2>
<div class="Iwantitcentered">
Welcome to our Sacrament Meeting Planner.
</div>
<img src="~/images/rexburgtemple.jpg" alt="temple">