@model IEnumerable<SacramentMeetingPlanner.Models.Hymn>

@{
    ViewData["Title"] = "Hymn";
}

<h2>LDS Hymns</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.HymnTitle)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HymnTitle)
            </td>
        </tr>
}
    </tbody>
</table>
